nav {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    justify-content: flex-end;
}
nav, a {
    margin: 10px;
}

a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

div {
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
div a{
    display: block;
    text-align: center;
    width: 150px;
    margin: auto;

}
main{
    display: flex;
    flex-wrap: wrap;
}
section {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgrey;
    padding: 5px;
    width: 330px;
    margin: 10px;
}
section p {
    flex-grow: 1;
}
